:root {
  --color-primary-brand: #ffffff;
  --color--primary-dark: #040404;
  --color-brand-primary: #534139;
  --color-background-card: #f7f2ef;
  --color-brand-secondary: #1e1e1e;
  --color-stroke: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

h2 {
  font-family: Lora;
  text-align: center;
  font-weight: 600;
  font-size: 64px;
  line-height: 100%;
  padding-top: 30px;
  margin: 40px 0;
}

/* Styles dropmenu */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #534139;
  color: #fff;
}

address {
  font-style: normal;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Base Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  background: var(--color-brand-primary);
  padding: 10px 0;
  color: var(--color-primary-brand);
  height: 90px;
}

.header-top .container {
  display: flex;
  justify-content: space-between;
}

.contact-info a {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #f7f2ef;
  text-decoration: none;
  color: var(--color-primary-brand);
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 24px;
  color: #f7f2ef;
}

.social-links a {
  margin-left: 10px;
}

.liner {
  height: 2px;
  background: var(--color-stroke);
  margin: 10px 0;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.nav-menu ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 20px;
  margin: 0;
  padding: 0;
  width: 700px;
}

.nav-menu ul li {
  position: relative;
}

.nav-menu ul li a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 28px;
  color: #000;
  position: relative;
}

.nav-menu ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 3px;
  background-color: #534139;
  transition: width 0.3s ease-in-out;
}

.nav-menu ul li a:hover::after {
  width: 100%;
}

.nav-menu ul li a:hover {
  color: #534139;
}

.header-icons {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.icon-link img {
  width: 28px;
  height: 28px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.icon-link img:hover {
  transform: scale(1.1);
}

.hero {
  background-image: url("/images/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 50px;
  text-align: center;
  background-color: #f3f3f3;
  height: 900px;
  margin-bottom: 50px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-top: 10px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.hero-text h1 {
  font-family: "Lora", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.4;
  color: #000;
  text-align: center;
  margin-top: -40px;
}

.header-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  background: transparent;
  width: 391px;
  height: 90px;
  border-radius: 60px;
  border-width: 1px;
  font-weight: 500;
  font-size: 28px;
  line-height: 150%;
  margin-top: 60px;
  text-decoration: none;
  border: 1px solid #000;
  color: inherit;
}

.header-btn:hover {
  background-color: var(--color--primary-dark);
  color: var(--color-primary-brand);
}

@media (max-width: 768px) {
  .hero {
    height: 600px;
  }

  .hero-content {
    padding-top: 30px;
  }

  .hero-text h1 {
    font-size: 40px;
    margin-bottom: 15px;
  }

  .header-btn {
    width: 300px;
    height: 70px;
    font-size: 24px;
    margin-top: 15px;
  }
}

/*----------ADVANTAGE SECTION--------------*/
.advantages-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  margin: 0 auto;
}

.advantages-item {
  display: flex;
  align-items: center;
  gap: 15px;
  flex: 1 1 30%;
  min-width: 280px;
  max-width: 400px;
  padding-left: 20px;
}

.advantages-item img {
  width: 100px;
  height: auto;
}

.advantages-text {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.title {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 100%;
  color: #000;
  margin-bottom: 10px;
  text-align: left;
}

.description {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #555;
  text-align: left;
}

@media (max-width: 1024px) {
  .advantages-container {
    justify-content: center;
  }

  .advantages-item {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .advantages-container {
    flex-direction: column;
    align-items: center;
  }

  .advantages-item {
    width: 100%;
  }
}

/* CATEGORY SECTION*/
.product {
  position: relative;
  padding: 20px;
  border-radius: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background: #fff;
  box-shadow: 0 4px 15px rgba(46, 46, 46, 0.05);
}

.product:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.discount {
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: #534139;
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
}



.product-categories {
  padding: 80px 0;
}

.category-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
  width: 100%;
  max-width: 413px;
  height: 350px;
  text-align: center;
  position: relative;
}

.category-image img {
  width: 300px;
  height: 270px;
  margin-bottom: 15px;
}

.category-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 20px;
  left: 0;
  padding: 0 20px;
  box-sizing: border-box;
}

.category-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  gap: 5px;
  border: 1px solid #534139;
  border-radius: 60px;
  width: 160px;
  height: 40px;
  color: #000;
}

.category-arrow img {
  width: 50px;
  height: auto;
}

.product-container {
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-content: center;
  place-items: center;
}

@media (max-width: 1024px) {
  .product-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .product-container {
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
}
.category-item {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.category-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.category-button {
  background-color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.category-button:hover {
  background-color: #534139;
  color: white;
}



.category-footer {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}
.category-button:hover {
  background-color: var(--color--primary-dark);
  color: var(--color-primary-brand);
}

.sales h2 {
  padding: 50px 0;
  text-align: center;
  font-family: "Lora", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  position: relative;
  animation: textAppear 0.8s ease-out;
  z-index: 1;
}

.sales h2::before,
.sales h2::after {
  content: "";
  position: absolute;
  width: 25%;
  height: 2px;
  background-color: #534139;
  top: 50%;
  transform: scaleX(0);
  transform-origin: center;
  animation: lineExpand 0.6s ease-out forwards;
  z-index: 0;
}

.sales h2::before {
  left: 5%;
}

.sales h2::after {
  right: 5%;
}

@keyframes lineExpand {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes textAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-bottom: 50px;
}

.product {
  background: #ffffff;
  padding: 15px;
  border-radius: 20px;
  text-align: center;
  position: relative;
  
}

.disc-img {
  width: 100%;
  height: 220px;
  max-width: 250px;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.discount {
  position: absolute;
  width: 83px;
  height: 28px;
  top: 10px;
  left: 10px;
  background: #534139;
  color: white;
  padding: 8px 10px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0%;
}

.price-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.price {
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0%;
  font-weight: bold;
  margin: 10px 0;
}

.price-container span {
  text-decoration: line-through;
  text-decoration-color: #000;
  color: #534139;
  font-weight: 700;
  font-size: 24px;
  font-weight: bold;
  line-height: 100%;
  margin: 10px 0;
}

.icons button {
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  cursor: pointer;
  padding-bottom: 50px;
}

.icons img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.icons {
  position: absolute;
  top: 10px;
  right: 40px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.product:hover .icons {
  opacity: 1;
  transform: translateX(0);
}

.icons button {
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

.icons img {
  width: 50px;
  height: 50px;
}

/*------------ГАЛЕРЕЯ-------------*/
.gallery h2 {
  padding: 50px 0;
  text-align: center;
  font-family: "Lora", sans-serif;
  font-weight: 600;
  font-size: 56px;
  line-height: 100%;
  position: relative;
  animation: textAppear 0.8s ease-out;
  z-index: 1;
}

.gallery h2::before,
.gallery h2::after {
  content: "";
  position: absolute;
  width: 30%;
  height: 2px;
  background-color: #534139;
  top: 50%;
  transform: scaleX(0);
  transform-origin: center;
  animation: lineExpand 0.6s ease-out forwards;
  z-index: 0;
}

.gallery h2::before {
  left: 5%;
}

.gallery h2::after {
  right: 5%;
}

.gallery {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.gallery-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  border-radius: 20px;
  border: 1px solid #534139;
}

.large {
  grid-column: span 1;
  grid-row: span 2;
  height: 520px;
  width: 620px;
}

.small {
  height: 255px;
  width: 620px;
}

/*------------ВІДГУКИ-------------*/
.reviews-section {
  background-color: #fafafa;
  margin-top: 40px;
}

.testimonials {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.testimonial {
  background: white;
  border-radius: 18px;
  padding: 10px;
  height: 250px;
  width: 420px;
  margin-bottom: 50px;
  text-align: center;
  position: relative;
}

.rev-top {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: left;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.review {
  font-weight: 600;
  font-size: 14px;
  text-align: start;
}

h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

.stars {
  color: #ff9800;
  font-size: 24px;
  margin-bottom: 12px;
}

p {
  font-size: 14px;
  color: #333;
  text-align: justify;
}

.quote-icon {
  position: absolute;
  top: 30px;
  right: 18px;
}

/*-----------НОВИНИ--------*/

/*FOOTER*/
.footer {
  background: #fafafa;
  padding: 40px 0;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-logo {
  margin-bottom: 25px;
  width: 150px;
  height: 90px;
}

.footer-logo-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-logo h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

.footer-logo p {
  font-size: 14px;
  color: #000000;
}

.footer-links {
  display: flex;
  gap: 40px;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

.footer-links ul {
  list-style: none;
  margin-top: 30px;
}

.footer-links li {
  margin-bottom: 42px;
}

.footer-links a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

.footer-links a:hover {
  text-decoration: underline;
  color: #534139;
}

.footer-subscribe p {
  font-weight: 800;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 15px;
  margin-top: 30px;
}

.input {
  width: 230px;
  height: 38px;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #534139;
  color: #0d0d0d;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  padding-left: 16px;
}

.send-btn {
  width: 40px;
  height: 38px;
  border-radius: 9px;
  margin-left: -36px;
  background-color: #534139;
  background-color: #f8f5f2;
}

.subscribe-box {
  display: flex;
  align-items: center;
  gap: 0px;
  margin-bottom: 20px;
  border-color: #534139;
}
.subscribe-box input:focus {
  border-color: #534139;
  box-shadow: 0 0 8px #534139;
  outline: none;
}

.subscribe-box button {
  background-color: #534139;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
.input::placeholder {
  text-indent: -24px;
}

.social-icons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.social-icons img {
  width: 24px;
  height: 24px;
}

.icons-btn {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border-color: transparent;
  background-color: #534139;
}

.social-icons img {
  width: 50px;
  height: 50px;
}

/*update reviews*/
.slider-wrapper {
  position: relative;
  overflow: hidden;
}

.testimonials-slider {
  display: flex;
  gap: 20px;
  transition: transform 0.5s ease-in-out;
}

.testimonial {
  flex: 0 0 calc((100% - 40px) / 3);
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .testimonial {
    flex: 0 0 calc((100% - 20px) / 2);
  }
}

@media (max-width: 600px) {
  .testimonial {
    flex: 0 0 100%;
  }
}

.slider-dots {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 10px;
  position: relative;
  top: -20px;
}

.dot {
  width: 50px;
  height: 14px;
  border: 2px solid #534139;
  border-radius: 7px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot:hover,
.dot.active {
  background-color: #534139;
}


/**/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
  animation: fadeIn 0.3s ease forwards;
}

.modal-overlay.show {
  display: flex;
  animation: fadeIn 0.3s ease forwards;
}

.modal-overlay.hide {
  animation: fadeOut 0.3s ease forwards;
}

.modal-message.fancy {
  background-color: #ffffff;
  padding: 20px 40px 40px 40px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
  max-width: 400px;
  width: 100%;
  animation: slideUp 0.4s ease forwards;
  position: relative;
  color: #534139;
  font-size: 20px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

.modal-icon {
  margin: 0;
  margin-bottom: 2px;
  animation: popIn 0.5s ease;
  color: #534139;
}

.modal-title {
  font-family: "Lora", sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: #000;
  margin: 0;
  margin-bottom: 4px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 16px;
  background: none;
  border: none;
  font-size: 28px;
  color: #534139;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes popIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.section-heading {
  max-width: 1240px;
  margin: 0 auto 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 15px;
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.section-label {
font-family: "Lora", sans-serif;
font-weight: 800;
font-size: 18px;
color: #534139;
margin-bottom: -10px;
}

.section-title {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 20px;
}

.section-title span {
  color: #534139; 
}



/* кнопочки зі стрілочками*/
.section-arrows {
  display: flex;
  gap: 10px;
}

.arrow-btn {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: transparent;
  border: 1px solid #534139;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
}

.arrow-btn svg {
  width: 40px;
  height: 40px;
  stroke: #534139;
  stroke-width: 1px;
  fill: none;
  transition: all 0.3s ease;
}

.arrow-btn:hover {
  background-color: #534139;
}

.arrow-btn:hover svg {
  stroke: #fff;
  fill: #534139;
}
