/* Загальні стилі */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
}

header {
  background-color: #534139;
}

.header-bottom {
  margin: 0px;
  height: 120px;
}

header h1 {
  font-family: Lora;
  font-weight: 600;
  color: #fff;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
}

.description {
  margin-left: -20px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Кошик */
.cart-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-top: 40px;
  align-items: flex-start;
  margin-bottom: 120px;
}

.cart-items {
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 35px 0;
  width: 750px;
  border-bottom: 1px solid #ddd;
  background: #fff;
}

.img {
  display: flex;
  gap: 40px;
}
.image-placeholder {
  border: 1px solid #534139;
  border-radius: 16px;
  width: 120px;
  height: 120px;
  margin-right: 26px;
  margin-left: -20px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.cart-item img {
  width: 110px;
  height: 110px;

}

element.style {
  max-width: 100%; 
  max-height: 100%;
  object-fit: none;
  object-fit: none;
  border-radius: 10px;
}

.remove-item {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.remove-item img {
  width: 30px;
  height: 30px;
  background-color: transparent;
}

.quantity-control {
  display: flex;
  align-items: center;
  gap: 5px;
}

.quantity-control button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
  width: 50px;
  height: 40px;
  margin: -6px;
}

.quantity-control .quantity {
  width: 40px;
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  height: 40px;
  width: 55px;
}

.minus {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.plus {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

/* Summary */
.order-summary {
  width: 400px;
  height: 440px;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid #bfbbaf;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}

.zam {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 32px;
  font-weight: bold;
  margin: 0px;
  padding-bottom: 20px;
  border-bottom: 2px solid #bfbbaf;
  margin-bottom: 15px;
  padding-top: 10px;
}

.order-summary hr {
  border: none;
  border-top: 2px solid #ccc;
  margin: 10px 0;
}

.order-summary p {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  font-weight: 600;
  padding-top: 10px;
}

.order-summary p.total {
  font-weight: bold;
  margin-top: 10px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.check-out {
  margin-top: 30px;
  border-top: 2px solid #ccc;
}

.checkout-btn {
  width: 340px;
  padding: 12px;
  background: #534139;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 270px;
  height: 50px;
  border-radius: 60px;
  font-weight: 600;
  font-size: 14px;
}

.checkout-btn:hover {
  background: #000;
}

.result {
  margin: 0px;
}

/*Coupon update*/
.coupon-actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  margin-top: 50px;
}

.coupon-input {
  width: 220px;
  height: 60px;
  border: 1px solid #bfbbaf;
  border-radius: 30px;
  color: #bfbbaf;
  font-family: Lora;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  padding-left: 20px;
}
.coupon-actions input:focus {
  border-color: #534139;
  box-shadow: 0 0 8px #534139;
  outline: none;
}

.apply-btn {
  padding: 10px 30px;
  width: 220px;
  height: 60px;
  background-color: #534139;
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.apply-btn:hover {
  background-color: #000;
}

.clear-cart {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #000;
  cursor: pointer;
}

.clear-cart:hover {
  text-decoration: underline;
  color: #534139;
}