h1 {
  font-family: "Lora", sans-serif;
  font-weight: 600;
  font-size: 56px;
  color: #534139;
  text-align: center;
  position: relative;
  animation: textAppear 0.8s ease-out;
  margin-bottom: 30px;
}

h1::before,
h1::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 2px;
  background-color: #534139;
  top: 50%;
  transform: scaleX(0);
  transform-origin: center;
  animation: lineExpand 0.6s ease-out forwards;
}

h1::before {
  left: 0;
}

h1::after {
  right: 0;
}

@keyframes lineExpand {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes textAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.faq-wrapper {
  display: flex;
  align-items: flex-start;
  padding: 20px 60px 60px;
  gap: 40px;
}

.faq-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: white;
  padding: 40px;
  max-width: 100%;
  width: 600px;
  flex-direction: column;
  gap: 10px;
}

.faq-body {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: flex-start;
  padding: 20px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 40px;
  margin-bottom: 180px;
  margin-left: 100px;
}

.tab {
  border: 1px solid #534139;
  border-radius: 60px;
  width: 362px;
  height: 88px;
  background: white;
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab:hover {
  background: #534139;
  color: white;
}

.tab.active {
  background: #534139;
  color: white;
}

.faq-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.faq-question {
  border: 1px solid #534139;
  border-radius: 60px;
  width: 713px;
  height: 88px;
  background: white;
  font-size: 18px;
  font-weight: bold;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: background 0.3s;
}

.faq-question span {
  font-weight: bold;
  font-size: 24px;
}

.faq-answer {
  display: none;
  background: #534139;
  color: white;
  border-radius: 60px;
  padding: 20px;
  margin-top: 5px;
  width: 713px;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.7;
  text-align: justify;
}
